{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Bear's Garden - A cozy bakery, confectionery, and café" />
        <link rel="stylesheet" href="{% static 'bakery/css/style.css' %}">
        <title>Bear's Garden Bakery & Café</title>
    </head>
    <body>
        <main>
            {%block content%}
            {%endblock%}
        </main>
    </body>
</html>
